name: PR Check

on:
  pull_request:
    branches: [ main, develop ]
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.24.0'

      - name: Install dependencies
        run: flutter pub get

      - name: Verify formatting
        run: dart format --output=none --set-exit-if-changed .

      - name: Analyze project source
        run: dart analyze

      - name: Run tests
        run: dart test

      - name: Install example dependencies
        working-directory: ./example
        run: flutter pub get

      - name: Analyze example source
        working-directory: ./example
        run: flutter analyze

      - name: Run example tests
        working-directory: ./example
        run: flutter test
